  services:
    db:
      image: mysql:latest
      env_file:
        - ./.env
      networks:
        - openstudy-network
      volumes:
        - "./backend/sql:/docker-entrypoint-initdb.d"
        - db-data:/var/lib/mysql
      restart: unless-stopped
      
    phpmyadmin:
      image: phpmyadmin:latest
      env_file:
        - ./.env
      networks:
        - openstudy-network
      environment:
        PMA_HOST: db
        PMA_PORT: 3306
        PMA_USER: root
        PMA_PASSWORD: Super
      restart: unless-stopped

    api:
      build: ./backend/api/
      networks:
        - openstudy-network
      env_file:
        - ./.env
      volumes:
        - ./backend/api:/var/www/html
      command: bash -c "docker-php-ext-install pdo pdo_mysql && composer install --no-dev --optimize-autoloader && apachectl -D FOREGROUND"
      depends_on:
        - db
      restart: unless-stopped

    frontend:
      build: ./frontend
      command: bash -c "apachectl -D FOREGROUND"
      networks:
        - openstudy-network
      env_file:
        - ./.env
      volumes:
        - ./frontend:/usr/local/apache2/htdocs/
      depends_on:
        - api
      restart: unless-stopped

    swagger:
      image: httpd
      command: bash -c "apachectl -D FOREGROUND"
      networks:
        - openstudy-network
      env_file:
        - ./.env
      volumes:
        - ./backend/swagger:/usr/local/apache2/htdocs/
      depends_on:
        - api
      restart: unless-stopped

    nginx:
      image: nginx:latest
      networks:
        - openstudy-network
      ports:
        - "80:80"
      volumes:
        - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
      depends_on:
        - frontend
        - api
      restart: unless-stopped

  networks:
    openstudy-network:
      driver: bridge

  volumes:
    db-data:
      driver: local